<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.ssafy.mvc.member.repository.MemberRepository" >
	<resultMap type="memberDto" id="memberMap">
		<result column="user_name" property="userName"/>
		<result column="user_id" property="userId"/>
		<result column="user_pass" property="userPass"/>
		<result column="join_date" property="userJoinDate"/>
	</resultMap>
	
	
	<resultMap type="String" id="pwMap">
		<result column="user_pass" property="userPass"/>
	</resultMap>

	<insert id="register" parameterType="memberDto">
		insert into member (user_name, user_id, user_pass, join_date)
		values (#{userName}, #{userId}, #{userPass}, now())
	</insert>
	
	<select id="listMember" resultMap="memberMap">
		select user_name, user_id, user_pass, join_date
		from member
		order by join_date
	</select>
	
	<update id="update" parameterType="memberDto">
		update member 
		set user_name = #{userName}, user_pass = #{userPass}
		where user_id = #{userId}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from member
		where user_id = #{userId}
	</delete>
	
 	<select id="login" parameterType="memberDto" resultMap="memberMap">
	  	select user_name, user_id, user_pass, join_date
 		from member
 		where user_id = #{userId}
 		and user_pass = #{userPass} 
  	</select>
  	
  	<select id="findPw" parameterType="String" resultType="String">
  		select user_pass
  		from member
  		where user_id= #{userPass}
  	</select>
	
</mapper>